body {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  

}
.header_nav, .skills_container{
  width: 1140px;
}
.header_nav_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 1rem;

}
.header_nav_menu_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header_nav_menu_list_item {
  padding: 10px;
}
.main {
  padding: 9rem 0 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(241, 254, 231);
}
.main_title {
  font-size: 4rem;
}
.aboutMe_article {
  padding: 4rem 0 ;
  width: 100%;
  background-color: rgb(255, 233, 233);
  display: flex;
  justify-content: center;
}
.aboutMe_article_container {
  width: 1140px;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.aboutMe_article_title{
  display: flex;
  justify-content: center;

}
.aboutMe_article_title_text {
  font-size: 3rem;
  padding-right: 0.5em;
}
.aboutMe_article_title_img_wrap {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.aboutMe_article_content_container {
  display: flex;
  flex-wrap: wrap;
}
.aboutMe_article_content_wrap {
  width: 33%;
  margin-bottom: 2rem;
  display: flex;
  justify-content:left;
}
.aboutMe_article_content_item {
  display: flex;
  justify-content:space-evenly;
  text-align: left;
  padding-left: 4rem;
  
}
.aboutMe_article_content_item_img {
  font-size: 2rem;
  margin: 0 1rem;
}
.skills {
  width: 100%;
  background-color: rgb(255, 241, 216);
  display: flex;
  justify-content: center;
  padding: 4rem 0 ;
}
.skills_container {
  width: 1140px;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.skills_content_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:baseline;
}
.skills_title {
  font-size: 2cqi;
  text-align: center;
  color: brown;

}
.skills_content {
  background-color: white;
  border-radius: 1rem;
  width: 30%;
  margin: 1rem;
}

.archiving {
  width: 100%;
  background-color: rgb(237, 237, 255);
  display: flex;
  justify-content: center;
  padding: 4rem 0 ;
}
.archiving_container {
  width: 1140px;
}
.skills_title_content_wrap {
  display: flex;
  justify-content: space-between;

}
.archiving_content {
  background-color: white;
  border-radius: 1rem;
  width: 40%;
  margin: 1rem;
  padding-top: 2rem;
}
.project {
  width: 100%;
  background-color: rgb(255, 255, 230);
  display: flex;
  justify-content: center;
}
.project_container {
  width: 1140px;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.project_contents_wrap {
  background-color: rgb(182, 37, 37);
  border-radius: 1rem;
  padding: 0.5rem;
  
}
/* 
h1- 4rem
h2- 3rem 


*/